{% extends 'app/base.html'%}

{%block content %}

    <h1 style="text-align: center;">This is a about page</h1>
    <p style="text-align: center; ">The purpose of the gym website is for people who cannot go to
    the gym itself, they can still book or schedule using the gym website.<br>
    A secure portal for
    users to sign up, manage their memberships, and book class designing a website that
    will attract,<br>
     engage and inform potential clients about gym and its fitness offerings. The
    website will be built to align with brand identity and achieve key business goals.<br>
    The
    website will target individuals seeking a gym unique selling proposition fitness
    experience. This includes who are interested in there Fitness.</p>
{% endblock content %}